$wsl: 1000px;
$wbt: 20px;
$btm: 10px;



a {
    &:hover {
        opacity: 50%;
    }
}

img {
    width: 100%;
    vertical-align: bottom;
}

li {
    list-style: none;
}



.slider_ly {
    display: flex;
    align-items: center;
}

.slider-btn {
    margin: 0 $btm;
    width: $wbt; 
    height: $wbt;
    border-radius: 50%;
    background-color: #000000;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 9px;
        height: 9px;
        border-top: 3px solid #FFFFFF;
        border-left: 3px solid #FFFFFF;
    }
    &:hover {
        transform: scale(1.4);
        transition: all 0.3s ease-out;
    }
}

.slider-btn.js__left-btn {
    &::after {
        transform: translate(-38%, -50%) rotate(-45deg);
    }
}

.slider-btn.js__right-btn {
    &::after {
        transform: translate(-72%, -50%) rotate(135deg);
    }
}

.slider-overfrow {
    width: $wsl;
    overflow: hidden;
}


.js__slider-box {
    width: $wsl;
    display: flex;
    transform: translateX(-100%);
    transition: transform 0.5s ease;
}

.js__slider img {
    width: $wsl;
}